<h2 class="row justify-content-center">
  <%= @restaurant.name %>
</h2>

<div class="row justify-content-center">
  <a href="/">Index</a>
</div>

<br>

<div class="row justify-content-between">
  <p>
    Rating:
  </p>
  <p>
    <%= @restaurant.rating %>
  </p>
</div>

<div class="row justify-content-between">
  <p>
    City:
  </p>
  <p>
    <%= @restaurant.city %>
  </p>
</div>

